a:link{color:#000000;}
a:visited{color:#1AA260;}
a:hover{background-color:#50C878;
      color:#000000;}
a:active{background-color:#50C878;
color:#000000;}
 h1{color:#A1C935;}
 h2{color:#A1C935;}
 ul{list-style-type:none;}
 a{text-decoration:underline;}
 body{width:800px;
height:100%;}
header{height:250px;
background-color:#31906E;}
header img{height : 195px;
width :195px;}
header h1 {
	color:#08A04B;
	float:right;
	margin-right:200px;}
nav ul {
	position:relative;
	float:right;
	margin-right:200px;
	margin-top:100px;}
li{display:inline;
padding:15px;}
footer {
	height:100px;
	background-color:#31906E;
}
